
.alert__button {
  padding: var(--spacing-small) var(--spacing-medium);
  background-color: red;
  color: var(--font-color-light);
  border: none;
  border-radius: 0.4rem;
  font-weight: bold;
}

.alert__button:hover {
  opacity: 0.8;
}
