header {
  margin-bottom: 1rem;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: var(--spacing-large);
  background-color: grey;
}

/* Component 1 - Button */
.button {
  width: 200px;
  height: 50px;
  color: #3d82bd;
}
