.toast_component {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Inspired from chatgpt and w3schools  snackbar / toast */
.toast__button {
  background-color: var(--color-primary);
  color: var(--font-color-light);
  border: none;
  padding: var(--spacing-small) var(--spacing-medium);
  border-radius: 0.4rem;
  cursor: pointer;
  width: 200px;
  font-weight: bold;
}

.toast__container {
  visibility: hidden;
  border-radius: 0.4rem;
  position: fixed;
  z-index: 1;
  opacity: 0;
  background-color: var(--color-primary);
  color: var(--color-light);
  padding: var(--spacing-small) var(--spacing-medium);
}

.toast__container-show {
  visibility: visible;
  opacity: 1;
  bottom: 100px;
  transition: opacity 0.5s, bottom 0.5s ease-in-out;
}
